<app-header [buttonText]="searchText"></app-header>

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">About</li>
      </ol>
    </nav>
    <h1 class="display-5 fw-bold">About us</h1>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <p>
        Thank you for coming to my website. As the address of this website
        suggests, my name is Kairit Semiskar and I work in the field of media on
        a daily basis, more precisely as a photographer and content creator.
      </p>
      <p>
        My passion for photography started thanks to sports, because I wanted to
        capture the sporting achievements of myself and my friends. At one
        point, others started to notice my photos, and today the hobby has
        become a part of my work.
      </p>
      <p>
        For a long time I have collaborated with ERR sports portal, Estonian
        Basketball Association, Sprite 3 × 3 street basketball series, AND1
        Tallinn Kossuliiga, Audentes Sports Club and Basketball magazine. When
        photographing football, the largest football portal in Estonia,
        Soccernet.ee, once helped me get in the wind. In addition, over the
        years, my pictures have appeared in larger and smaller Estonian
        magazines and newspapers.
      </p>
      <p>
        In addition to sports photography, I have increasingly started
        photographing people in other environments, real estate, various events
        and everything around us.
      </p>
      <p>
        On a daily basis, I also express myself in writing when I help to start
        a new media company, Online Media. On a daily basis, I edit with the web
        portals Korvpall24.ee and Rahajutud.ee. I write longer articles, mainly
        related to sports, as a freelancer, and my work has appeared in the
        magazines Basketball, Sport, Jooksja, Sportland Magazine and others.
      </p>
      <p>
        If you have any questions or would like to cooperate with me, be sure to
        contact us.
      </p>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img src="assets/ball-2.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">How to make best basketball pictures</h5>
          <p class="card-text">
            Changing places during the game is important and you should
            definitely not fall in love with one position, but constantly
            walking around does the pictures a disservice. If you keep walking
            around the square and looking for a "better place", you will have a
            situation where you no longer control the background of your
            pictures. It would be better to choose a position for a while and
            then let the game and interesting moments come to you.
          </p>
          <a routerLink="/blog-post/1" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card mt-3">
        <img src="assets/photos-2.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">How to keep your saved pictures safe</h5>
          <p class="card-text">
            I have three different copies of the pictures, physically in two
            different locations. In fact, there is also a fourth disc that
            stores the most important family and travel photos. This media is
            stored in a safe place and is not removed too often. For this added
            security, it's a good idea to use old hard drives that have fallen
            out of the rotation of daily archive storage due to their small
            capacity.
          </p>
          <a routerLink="/blog-post/1" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
